# Using selenium Web Scraping Data

!pip install selenium

In [41]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

Now we will download the webDriver for the Web Browser, Steps for download are

1 Check the version of your browser
2 go to the link https://chromedriver.chromium.org/downloads 
3 Download the webdriver for your version of your browser.

In [3]:
# let first coonnect to the driver-
driver=webdriver.Chrome(r"C:\Users\Jainil iptesh Bariya\Downloads\chromedriver_win32\chromedriver.exe")

In [4]:
# second mathod to connect web driver
# lets first connect to the driver-
#driver=webdriver.Chrome(r"chromedriver.exe") # C is ca[pital]

In [6]:
# openning page on automated chrome mathod

driver.get("https://www.naukri.com/")

In [9]:
# entering designation and location as required in the question

designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Analyst')

In [10]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys("Banglore")

In [11]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [12]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [13]:
# scraping job title from the given page
title_tags=driver.find_elements(By.XPATH,"//a[@class='title fw500 ellipsis']")
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
    
# scraping job location from the given page
location_tags=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi location']")
                                  
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
# scraping compny name from the web page

compnay_tags=driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
for i in compnay_tags[0:10]:
    company=i.text
    company_name.append(company)
    
# scraping given experience from the given page
experience_tags=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi experience']//span")
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [14]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [15]:
# creating the data frame from above data:
df=pd.DataFrame({'Job_title':job_title,'Job_location':job_location,'Company_name':company_name,'Exp_required':experience_required})
df

,Job_title,Job_location,Company_name,Exp_required
0,Data Analyst,Bangalore/Bengaluru,Shell Pvt Ltd,2-5 Yrs
1,Data Analyst,Bangalore/Bengaluru,Shell Pvt Ltd,3-5 Yrs
2,Data Analyst,Bangalore/Bengaluru,Shell Pvt Ltd,2-5 Yrs
3,Sr. Data Analyst,Bangalore/Bengaluru,MM STAFFING CAREER CONSULTANTS PRIVATE LIMITED,5-8 Yrs
4,Senior Data Analyst II,Bangalore/Bengaluru,Flipkart,2-4 Yrs
5,Senior Data Management Analyst,Bangalore/Bengaluru,Wells Fargo,1-12 Yrs
6,Data Analyst,Bangalore/Bengaluru,MM STAFFING CAREER CONSULTANTS PRIVATE LIMITED,5-7 Yrs
7,Sr Data Analyst - Tableau,Bangalore/Bengaluru,S.A.W IT Services Pvt Ltd,2-5 Yrs
8,Project Data Analyst,Bangalore/Bengaluru,WSP,0-4 Yrs
9,"Data Analyst, Business Analyst",Bangalore/Bengaluru(HSR Layout +1),Clinilaunch Research Institute Llp,0-5 Yrs

In [16]:
# to fetch the url -
url=driver.find_elements(By.XPATH,"//a[@class='title fw500 ellipsis']")
url[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="81338772fc95d4b0993e9779ffc0a8e6", element="7a9b89ea-0c89-4ecf-8bf6-b679d5e3298f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="81338772fc95d4b0993e9779ffc0a8e6", element="b77a2016-74e0-4ad3-82ec-da8db8214e5a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="81338772fc95d4b0993e9779ffc0a8e6", element="d046fcfe-d07f-46d4-8ee2-26fddafb85fe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="81338772fc95d4b0993e9779ffc0a8e6", element="8d83f1fb-97ce-432f-a88e-a8e9ab240221")>]

In [17]:
for i in url[0:4]: # lets provide range to print only top 4 data
    print(i.get_attribute('href'))

https://www.naukri.com/job-listings-data-analyst-shell-pvt-ltd-bangalore-bengaluru-2-to-5-years-091222501110
https://www.naukri.com/job-listings-data-analyst-shell-pvt-ltd-bangalore-bengaluru-3-to-5-years-091222501109
https://www.naukri.com/job-listings-data-analyst-shell-pvt-ltd-bangalore-bengaluru-2-to-5-years-091222501111
https://www.naukri.com/job-listings-sr-data-analyst-mm-staffing-career-consultants-private-limited-bangalore-bengaluru-5-to-8-years-081222503507

In [18]:
for i in url[0:10]: # lets provide range to print only top 4 data
    print(i.get_attribute('href'))

https://www.naukri.com/job-listings-data-analyst-shell-pvt-ltd-bangalore-bengaluru-2-to-5-years-091222501110
https://www.naukri.com/job-listings-data-analyst-shell-pvt-ltd-bangalore-bengaluru-3-to-5-years-091222501109
https://www.naukri.com/job-listings-data-analyst-shell-pvt-ltd-bangalore-bengaluru-2-to-5-years-091222501111
https://www.naukri.com/job-listings-sr-data-analyst-mm-staffing-career-consultants-private-limited-bangalore-bengaluru-5-to-8-years-081222503507
https://www.naukri.com/job-listings-senior-data-analyst-ii-flipkart-internet-private-limited-bangalore-bengaluru-2-to-4-years-051222905310
https://www.naukri.com/job-listings-senior-data-management-analyst-wells-fargo-india-solutions-pvt-ltd-bangalore-bengaluru-1-to-12-years-081222502420
https://www.naukri.com/job-listings-data-analyst-mm-staffing-career-consultants-private-limited-bangalore-bengaluru-5-to-7-years-081222503253
https://www.naukri.com/job-listings-sr-data-analyst-tableau-s-a-w-it-services-pvt-ltd-bangalore-bengaluru-2-to-5-years-081222912936
https://www.naukri.com/job-listings-project-data-analyst-wsp-bangalore-bengaluru-0-to-4-years-061222010759
https://www.naukri.com/job-listings-data-analyst-business-analyst-clinilaunch-research-institute-llp-bangalore-bengaluru-0-to-5-years-051222000953

In [19]:
job_titles=[]

In [20]:
start=0
end=2
for page in range(start,end):
    titles=driver.find_elements(By.XPATH,"//a[@class='title fw500 ellipsis']")
    for i in titles:
        job_titles.append(i.text)
    next_button=driver.find_element(By.XPATH,'//a[@class="fright fs14 btn-secondary br2"]') # to scrap data from next page
    next_button.click()
    time.sleep(3)

In [21]:
len(job_titles)

40

In [22]:
job_titles

['Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Sr. Data Analyst',
 'Senior Data Analyst II',
 'Senior Data Management Analyst',
 'Data Analyst',
 'Sr Data Analyst - Tableau',
 'Project Data Analyst',
 'Data Analyst, Business Analyst',
 'Senior Data Analyst',
 'Sr Data Analyst',
 'Data Analyst',
 'Executive - Data Analyst',
 'Data Analyst - Power BI',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst I',
 'Data Analyst',
 'Data Analyst / Product Analyst / Business Analyst',
 'Senior Data Analyst - Data Modeling/Quality',
 'Data Analyst',
 'Data Analyst',
 'Senior Data Analyst | Neiman Marcus Group',
 'Senior Data Analyst',
 'Sr . Data Analyst',
 'data analyst / data analytics - US MNC (analytics)',
 'Customer Master Data Analyst (SAP SD/MM)',
 'Senior Analyst - Data Management',
 'Data Analyst - CRM Platform',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst - SQL',
 'Data Analyst',
 'Data Analyst - GAMMA',
 'Business Data Analyst 1',
 'Senior Data Analyst']

# Using Selenium Flipkart Sunglass Data

In [23]:
# openning page on automated chrome mathod

driver.get("https://www.flipkart.com/")

In [27]:
eyewear=driver.find_element(By.CLASS_NAME,"_3704LK")
eyewear.send_keys('sunglasses')

In [29]:
brand_name=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
brand_name.send_keys("sunglasses")

In [33]:
eyewear_title=[]
eyewear_price=[]
company_name=[]
discount_required=[]

In [37]:
# scraping job title from the given page
title_tags=driver.find_elements(By.XPATH,"//a[@class='IRpwTa']")
for i in title_tags[0:10]:
    title=i.text
    eyewear_title.append(title)
    
    
# scraping job price from the given page
price_tags=driver.find_elements(By.XPATH,"//a[@class='_30jeq3']")
                                  
for i in price_tags[0:10]:
    price=i.text
    eyewear_price.append(price)
    
# scraping compny name from the web page

compnay_tags=driver.find_elements(By.XPATH,"//a[@class='IRpwTa']")
for i in compnay_tags[0:10]:
    company=i.text
    company_name.append(company)
    
# scraping given dicount from the given page
discount_tags=driver.find_elements(By.XPATH,"//a[@class='_3bPFwb']//span")
for i in discount_tags[0:10]:
    exp=i.text
    discount_required.append(disc)

WebDriverException: Message: disconnected: unable to send message to renderer
  (failed to check if window was closed: disconnected: unable to connect to renderer)
  (Session info: chrome=108.0.5359.99)
Stacktrace:
Backtrace:
	(No symbol) [0x0065F243]
	(No symbol) [0x005E7FD1]
	(No symbol) [0x004DD04D]
	(No symbol) [0x004CE9F0]
	(No symbol) [0x004CEEF7]
	(No symbol) [0x004E5F54]
	(No symbol) [0x004DF82B]
	(No symbol) [0x004DF350]
	(No symbol) [0x004DFBA2]
	(No symbol) [0x004DFE80]
	(No symbol) [0x0050BD55]
	(No symbol) [0x0050C22B]
	(No symbol) [0x0053E64C]
	(No symbol) [0x005285D4]
	(No symbol) [0x0053C9EB]
	(No symbol) [0x00528386]
	(No symbol) [0x0050163C]
	(No symbol) [0x0050269D]
	GetHandleVerifier [0x008F9A22+2655074]
	GetHandleVerifier [0x008ECA24+2601828]
	GetHandleVerifier [0x00708C0A+619850]
	GetHandleVerifier [0x00707830+614768]
	(No symbol) [0x005F05FC]
	(No symbol) [0x005F5968]
	(No symbol) [0x005F5A55]
	(No symbol) [0x0060051B]
	BaseThreadInitThunk [0x77096739+25]
	RtlGetFullPathName_UEx [0x77C78FD2+1218]
	RtlGetFullPathName_UEx [0x77C78F9D+1165]

In [39]:
print(eyewear_title),len(eyewear_price),len(company_name),len(discount_required)

[]

(None, 0, 0, 0)

In [40]:
# creating the data frame from above data:
df=pd.DataFrame({'Eyewear_title':eyewear_title,'Eyewear_price':eyewear_price,'Company_name':company_name,'Disc_required':discount_required})
df

Empty DataFrame
Columns: [Eyewear_title, Eyewear_price, Company_name, Disc_required]
Index: []